---
// CHALLENGES -> PLYR FROM YOUTUBE
import TitleComponent from "../components/TitleComponent.astro"

import { getI18N } from "../i18n";
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<head>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
</head>

<div class="flex flex-col h-full text-xs overflow-y-hidden">
    
    <div class="flex h-fit justify-between items-center mr-4">
        <TitleComponent title={i18n?.BENTO_TITLES.CHALLENGES} />
        <a class="text-sm" href="https://github.com/AlbertLnz/ChallengingMeVideosRepo" target="_blank" title="GitHub Repository Challenge AlbertLnz">{i18n?.CHALLENGES.CODE}</a>
    </div>

    <div class="overflow-hidden aspect-video">
        <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="6ESGSD9f7Po"></div>
    </div>

</div>

<style>
    .aspect-video{
        --plyr-color-main: #bb2e3e;
    }

</style>

<script>
    import Plyr from 'plyr';
    
    document.addEventListener("astro:page-load", () => {
        const windowWithPlayer = window as unknown as Window & { player: Plyr };
        const player = new Plyr('#player', {});
        windowWithPlayer.player = player;
    })

</script>