---
import Laravel from "../icons/Laravel.astro";
import React from "../icons/React.astro";
import Express from "../icons/Express.astro";
import Astroo from "../icons/Astroo.astro";
import FastApi from "../icons/FastApi.astro"
---

<section class="flex gap-x-4 justify-center items-center h-full">
    <Laravel class="h-full flex flex-col justify-center items-center size-10 hover:bg-gray-400/40 hover:dark:bg-white/10 hover:rounded-md hover:p-[2px] ease-in duration-300" />
    <React class="h-full flex flex-col justify-center items-center size-10 hover:bg-gray-400/40 hover:dark:bg-white/10 hover:rounded-md hover:p-[2px] ease-in duration-300" />
    <Express class="h-full flex flex-col justify-center items-center size-10 hover:bg-gray-400/40 hover:dark:bg-white/10 hover:rounded-md hover:p-[2px] ease-in duration-300" />
    <FastApi class="h-full flex flex-col justify-center items-center size-10 hover:bg-gray-400/40 hover:dark:bg-white/10 hover:rounded-md hover:p-[2px] ease-in duration-300"/>
    <Astroo class="h-full flex flex-col justify-center items-center size-10 hover:bg-gray-400/40 hover:dark:bg-white/10 hover:rounded-md hover:p-[2px] ease-in duration-300" >
</section>
