---
const { currentLocale } = Astro
const language = currentLocale?.toLocaleUpperCase()

const LOCALES = {
    en:{
        code: 'en',
        path: '/en',
        next_path: '/es'
    },
    es:{
        code: 'es',
        path: '/es',
        next_path: '/ca'
    },
    ca:{
        code: 'ca',
        path: '/ca',
        next_path: '/en'
    }
}

let index: string | undefined = currentLocale;
const nextPath = index ? (LOCALES[index as keyof typeof LOCALES]?.next_path || '') : '';
---

<a class="w-full h-full flex justify-center items-center text-3xl font-bold" href={nextPath} title="Language Selector">
    {language}
</a>