---
import { getI18N } from '../i18n';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<div class="flex flex-col items-center justify-center h-full hover:bg-lime-600/10 duration-300 hover:rounded-[10px]">
    <p>{i18n?.OPEN_TO_WORK.TEXT1}</p>
    <p>{i18n?.OPEN_TO_WORK.TEXT2}</p>
</div>

