---
import LinkedInIcon from "../icons/LinkedIn.astro"
import CVIcon from "../icons/CV.astro"
import GitHubIcon from "../icons/GitHub.astro"
import DiscordIcon from "../icons/Discord.astro"
import EmailIcon from "../icons/Email.astro"
---

<div class="flex flex-wrap h-full items-center justify-center md:justify-between mt-2 md:mt-0 gap-y-2">
    <a href="https://www.linkedin.com/in/albert-lanza-rio/" target="_blank" class="mx-3 md:mx-4 hover:scale-125 ease-in-out duration-700" title="My LinkedIn page - Albert Lanza Rio">
        <LinkedInIcon class="size-6"/>
    </a>
    <a href="/docs/CV - Albert Lanza.pdf" target="_blank" class="mx-3 md:mx-4 hover:scale-125 ease-in-out duration-700" title="Download CV - Albert Lanza Rio">
        <CVIcon class="size-6" />
    </a>
    <a href="https://discord.com/users/818193746872762388" target="_blank" class="mx-3 md:mx-4 hover:scale-125 ease-in-out duration-700" title="My Discord user - Albert Lanza Rio">
        <DiscordIcon class="size-6"/>
    </a>
    <a href="https://github.com/AlbertLnz" target="_blank" class="mx-3 md:mx-4 hover:scale-125 ease-in-out duration-700" title="My GitHub user - Albert Lanza Rio">
        <GitHubIcon class="size-6"/>
    </a>
    <a href="mailto: albert.lnz.rio@gmail.com" class="mx-3 md:mx-4 hover:scale-125 ease-in-out duration-700" title="My eMail - Albert Lanza Rio">
        <EmailIcon class="size-6"/>
    </a>
</div>