* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  background-color: #111111;
  color: var(--text-color-dark-primary);
  font-size: 12px;
}

div > section {
  font-family: 'Outfit Variable', sans-serif;
  background-color: #171717;
  border-radius: 8px;
  border-width: 1px;
  border-color: #2c2c2c;
  padding: 2rem;
}

#blog-container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  gap: 1rem;
}

#header {
  grid-column: 1 / -1;
}

#aside {
  grid-column: 1 / 2;
}

#content {
  grid-column: 2 / -1;
}

/* ~~~ RESPONSIVE ~~~ */
