* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 2rem;
  font-size: 12px;
}

div > section {
  font-family: 'Outfit Variable', sans-serif;
  border-radius: 8px;
  border-width: 1px;
  padding: 2rem;
}

#blog-container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  gap: 1rem;
}

#header {
  grid-column: 1 / -1;
}

#aside {
  grid-column: 1 / 2;
}

#content {
  grid-column: 2 / -1;
}

/* ~~~ RESPONSIVE ~~~ */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 2rem;
    font-size: 12px;
  }

  div > section {
    font-family: 'Outfit Variable', sans-serif;
    border-radius: 8px;
    border-width: 1px;
    padding: 2rem;
  }

  #blog-container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    gap: 1rem;
  }

  #header {
    grid-column: 1;
    grid-row: 1;
  }

  #aside {
    grid-column: 1;
    grid-row: 2;
  }

  #content {
    grid-column: 1;
    grid-row: 3;
  }
}
