@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* LIGHT MODE */
body:not(.dark) #content {
  p {
    color: #374151;
  }

  a {
    color: #0070f3;
  }

  h2 {
    color: black;
  }

  li {
    color: #a3a3a3;
  }

  blockquote {
    background-color: #454125;
    border-color: #454125;
  }

  &a:hover {
    color: #0056b3;
  }

  &li > code {
    background-color: #2f313f;
  }
}

/* DARK MODE */
body.dark #content {
  p {
    color: #d1d5db;
  }

  a {
    color: #0070f3;
  }

  h1,
  h2,
  h3 {
    color: white;
  }

  li {
    color: #a3a3a3;
  }

  blockquote {
    background-color: #454125;
    border-color: #454125;
  }

  &a:hover {
    color: #0056b3;
  }

  &li > code {
    background-color: #2f313f;
  }

  table {
    color: white;
  }
}

.cust-font {
  font-family: 'Lora', arial;
}

#content h1 {
  font-size: 22px;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

#content h2 {
  text-decoration: underline;
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

#content h3 {
  text-decoration: underline;
  font-size: 14px;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

#content a {
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

#content p {
  font-size: 14px;
}

#content a > img {
  margin-top: 0.6rem;
}

#content li > code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
  padding: 0.1rem;
  border-radius: 2px;
  font-weight: 600;
}

#content > pre {
  margin: 1rem 0;
  padding: 1rem;
  scrollbar-color: #2f313f #111111;
  border-radius: 6px;
}

#content > ol {
  list-style-type: decimal;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

#content > blockquote {
  margin: 2rem 0;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  border-width: 1.5px;
}

#content > table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 12px;
}

#content > table th,
#content > table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

#content > table th {
  font-weight: bold;
  font-size: 14px;
}

#content > table caption {
  caption-side: top;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
