body {
  margin: 0;
  padding: 2rem;
  font-size: 12px;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  height: 100%;
  gap: 1rem;
  overflow-x: hidden;
}

body > article {
  font-family: 'Outfit Variable', sans-serif;
  border-radius: 8px;
  padding: 2rem;
}

#post {
  grid-column: 2;
}
