---
import LanguageAndThemeSelector from '@/components/LanguageAndThemeSelector.astro'
import ProjectsLayout from '@/layouts/ProjectsLayout.astro'
import { getCollection } from 'astro:content'
import IPad from '@/assets/apple/IPad.astro'
import ProjectsPageCardIPad from '@/components/ProjectsPageCardIPad.astro'
import ProjectsAside from '@/components/ProjectsAside.astro'

export function getStaticPaths() {
  return [
    { params: { pageLang: 'en' } },
    { params: { pageLang: 'es' } },
    { params: { pageLang: 'ca' } },
  ]
}

const { pageLang } = Astro.params
const allProjects = await getCollection('projects')
const filteredProjects = allProjects.filter(
  (project) => project.data.language === pageLang
)
---

<ProjectsLayout>
  <section
    id='header'
    class={`
      bg-section-bg-light dark:bg-section-bg-dark
      border-2 border-section-primary-border-light dark:border-section-primary-border-dark
      flex flex-col
      md:grid md:grid-cols-[0.2fr_0.6fr_0.2fr] md:gap-x-2 md:p-0
    `}
  >
    <a
      class={`
      text-heading-light dark:text-heading-dark
      hover:bg-black/10 dark:hover:bg-black/20 hover:underline
      flex items-center justify-center rounded-l-[8px] text-lg transition-colors duration-500
    `}
      href={`/${pageLang}`}
    >
      Back
    </a>
    <h1
      class='font-semibold text-2xl text-center py-[1rem] md:py-[2rem] text-heading-light dark:text-heading-dark'
    >
      AlbertLnz's Projects
    </h1>
    <LanguageAndThemeSelector path='/projects' />
  </section>

  <section
    id='aside'
    class={`
      bg-section-bg-light dark:bg-section-bg-dark
      border-2 border-section-primary-border-light dark:border-section-primary-border-dark
      flex flex-col
    `}
  >
    <ProjectsAside projects={filteredProjects} />
  </section>

  <section
    id='content'
    class={`
      bg-section-bg-light dark:bg-section-bg-dark
      border-2 border-section-primary-border-light dark:border-section-primary-border-dark
      p-0 h-full max-h-full overflow-hidden
    `}
  >
    <IPad id='iPad' contentClass='p-4 flex gap-x-4'>
      {
        filteredProjects.map((project) => (
          <ProjectsPageCardIPad project={project} />
        ))
      }
    </IPad>
  </section>
</ProjectsLayout>

<script>
  // TO-DO: ASTRO HYDRATION
  document.addEventListener('astro:page-load', function () {
    setTimeout(() => {
      const $$ = (els: string): HTMLElement[] =>
        Array.from(document.querySelectorAll(els))

      const $$buttons = $$('button[id^="project-"]')
      const $$projects = $$('article[id^="project-"]')

      $$buttons.forEach((button) => {
        button.addEventListener('click', () => {
          $$projects.forEach((project) => {
            project.style.display = button.id === project.id ? '' : 'none'
          })
        })
      })
    }, 0)
  })
</script>
