---
import Layout from '@/layouts/Layout.astro'
import Title from "@/components/Title.astro";
---

<Layout title="AlbertLnz portfolio" description="SEO description for my portfolio">

	<section id="personal"></section>
	<section id="projects"></section>
	<section id="work">
		<Title title="My Works"/>
	</section>
	<section id="tools"></section>
	<section id="portfolio"></section>
	<section id="timezone"></section>
	<section id="blog"></section>

</Layout>