---
import Layout from "@/layouts/MainLayout.astro"
import IPad from "@/assets/apple/IPad.astro"
import Rotate from "@/assets/apple/Rotate.astro"
import Back from "@/assets/apple/Back.astro"
---

<Layout title="iPad" description="SEO description for iPad section">
   <div class="relative flex items-center justify-center col-span-full row-span-full mx-auto max-h-full" >
      <div class="absolute top-0 right-[100%] flex flex-col z-20 mt-1">
        <button class="p-4 hover:scale-90">
          <a href="/en">
            <Back class="size-6" color="white" />
          </a>
        </button>
        <button id="flipBtn" class="p-4 hover:scale-90">
          <Rotate class="size-6" color="white" />
        </button>
      </div>
      <IPad id="iPad" svgClass="h-full rotate-0" contentClass="absolute bg-slate-800 overflow-hidden p-5" transition:name="iPad">
        <p>HELLO</p>
      </IPad>
  </div>
</Layout>

<style>
  #iPad {
    transition: transform 0.5s ease, height 0.5s ease;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const $ = (el: string): HTMLElement | null => document.querySelector(el)
    const $flipBtn = $(`#flipBtn`)
    const $iPad = $(`#iPad`)
    const $iPadContent = $(`#iPadContent`)
  
    if ($iPad && $iPadContent) {
      $flipBtn?.addEventListener('click', () => {
        const isRotated = $iPad.classList.contains('rotate-0')
        
        $iPad.classList.toggle('rotate-0', !isRotated)
        $iPad.classList.toggle('rotate-90', isRotated)
        $iPad.classList.toggle('h-full', !isRotated)
        $iPad.classList.toggle('h-[75%]', isRotated)
  
        $iPadContent.style.writingMode = isRotated ? 'vertical-rl' : ''
        $iPadContent.style.transform = isRotated ? 'rotate(-180deg)' : ''
      })
    }
  })
</script>
