---
import Layout from '../layouts/Layout.astro';
import PhotoComponent from '../bentos/Photo.astro'; // 1
import NameComponent from '../bentos/Name.astro'; // 2
import SocialMediaButtons from '../bentos/SocialMediaButtons.astro'; // 2
import OpenToWorkComponent from '../bentos/OpenToWork.astro'; // 3
import LanguageSelector from '../bentos/LanguageSelector.astro'; // 4
import ThemeSelector from '../bentos/ThemeSelector.astro'; // 5
import Slogan from '../bentos/Slogan.astro'; // 6
import Frameworks from '../bentos/Frameworks.astro'; // 7
import Projects from '../bentos/Projects.astro'; // 8
import References from '../bentos/References.astro'; // 9
import Challenges from '../bentos/Challenges.astro'; // 10
import Cursos from '../bentos/Cursos.astro'; // 11
import Studies from '../bentos/Studies.astro'; // 12
import Jobs from '../bentos/Jobs.astro'; // 13
import Tools from '../bentos/Tools.astro'; // 14
import Idiomas from '../bentos/Idiomas.astro'; // 15
import Webs from '../bentos/Webs.astro'; // 16
import Portfolio from '../bentos/Portfolio.astro'; // 17
import SloganText from '../bentos/SloganText.astro';

import { getI18N } from '../i18n';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n?.SEO_TITLE_HOMEPAGE} description={i18n?.SEO_DESCRIPTION_HOMEPAGE}>
	<main id="main" class="lg:h-screen w-screen flex items-center justify-center bg-[#f0f0f0] dark:bg-black">
	  <div id="cards" class="grid grid-cols-3 min-h-screen md:grid-cols-10 md:grid-rows-7 gap-4 p-4 w-full md:h-full"> 

		<section class="card rounded-[10px] flex relative text-[#626366] dark:text-white bg-zinc-800 hover:bg-neutral-600 hover:duration-500
					col-span-1
					md:col-span-2 md:row-span-2">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <PhotoComponent/>
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-neutral-600 hover:duration-500
                    col-span-2
					md:col-span-5 md:col-start-3">
                    <div class="card-border"></div>
					<div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5 flex flex-col md:flex-row justify-between">
                        <NameComponent />
					    <SocialMediaButtons />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-lime-800
                    col-span-1
					md:col-start-8">
                    <div class="card-border"></div>
					<div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px]">
                        <OpenToWorkComponent />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800
					col-span-1
					md:col-start-9">
                    <div class="card-border"></div>
					<div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <LanguageSelector />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-[#A87C7C] hover:duration-500
					col-span-1
					md:col-start-10">
                    <div class="card-border"></div>
					<div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <ThemeSelector />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-lime-950 hover:duration-500
					col-span-3
					md:col-span-3 md:col-start-3 md:row-start-2">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute text-center z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <SloganText />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-sky-800 hover:duration-500
					col-span-3
					md:col-span-3 md:col-start-6 md:row-start-2">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Frameworks />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-indigo-900 hover:duration-500
					col-span-3
					md:col-span-3 md:row-span-4 md:col-start-1 md:row-start-3">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Projects />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-emerald-900 hover:duration-500
					col-span-3
					md:col-span-3 md:col-start-1 md:row-start-7">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Slogan />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-[#3D0000]
                    col-span-3
					md:col-span-3 md:row-span-3 md:col-start-4 md:row-start-3">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Challenges />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-amber-800 hover:duration-500
					col-span-3
					md:col-span-3 md:row-span-2 md:col-start-4 md:row-start-6">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Cursos />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-[#111D5E] hover:duration-500
					col-span-3
					md:col-span-2 md:row-span-2 md:col-start-7 md:row-start-3">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Studies />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-[#A27B5C] hover:duration-500
					col-span-3
					md:col-span-2 md:row-span-3 md:col-start-7 md:row-start-5">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Jobs />
                    </div>
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-rose-400 hover:duration-500
					col-span-3
					md:col-span-2 md:row-span-3 md:col-start-9 md:row-start-2">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Tools />
                    </div>
                    
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-teal-600 hover:duration-500
					col-span-3
					md:col-span-2 md:row-span-1 md:col-start-9 md:row-start-5">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Idiomas />
                    </div>
                    
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-zinc-800 hover:bg-yellow-300 hover:duration-500
					col-span-2
					md:col-span-2 md:row-span-1 md:col-start-9 md:row-start-6">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px] p-2.5">
                        <Webs />
                    </div>
                    
		</section>

		<section class="card rounded-[10px] flex relative dark:text-white bg-indigo-800
                    col-span-1
                    md:col-span-2 md:row-span-1 md:col-start-9 md:row-start-7" transition:name="hero">
                    <div class="card-border"></div>
                    <div class="card-content w-full md:w-auto md:absolute z-20 bg-[#d1d5db] dark:bg-[#171717] inset-[1px] rounded-[10px]">
                        <Portfolio />
                    </div>
                    
		</section>

        
	  </div>
	</main>
</Layout>

<script>
    const cardsContainer = document.getElementById("cards");

    if (cardsContainer) {
        cardsContainer.onmousemove = (e) => {
            const cardList = document.getElementsByClassName("card");

            for (const cardElement of cardList) {
                const card = cardElement as HTMLElement; // Explicitly cast to HTMLElement
                const rect = card.getBoundingClientRect(),
                    x = e.clientX - rect.left,
                    y = e.clientY - rect.top;

                card.style.setProperty("--mouse-x", `${x}px`);
                card.style.setProperty("--mouse-y", `${y}px`);
            }
        };
    }
</script>

<style>
#cards:hover > .card::after {
  opacity: 1;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 500ms;
}

.card::before {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 1;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 0;
}

</style>