---
import LinkedIn from "@/assets/rrss/LinkedIn.astro"
import CV from "@/assets/rrss/CV.astro"
import Gmail from "@/assets/rrss/Gmail.astro"
import GitHubScore from '@/components/GitHubScore.astro'
import Houston from '@/components/Houston.astro'
import LanguageAndThemeSelector from "@/components/LanguageAndThemeSelector.astro"
import { getLangFromUrl } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const { magicTrickAvailable } = Astro.props
---

<section
  id="personal"
  class={`
    bg-section-bg-light dark:bg-section-bg-dark
    border-2 border-section-primary-border-light dark:border-section-primary-border-dark
  `}
  transition:name="personal">

  <div class="flex item-center justify-between text-tertiary-light dark:text-tertiary-dark">
    <h4 class="">Welcome</h4>
    <LanguageAndThemeSelector path="" />
  </div>

  <div class="p-6 mx-4 space-y-4">
      <p class="text-lg text-primary-light dark:text-primary-dark">
        I'm <span class="font-bold text-xl">Albert Lanza</span>, a fullstack web developer from Barcelona with +2 years of experience.
        Passionate about databases, UI/UX design and building open-source software.
      </p>
      <div class="flex h-fit gap-x-6">
        <div class={`
          border border-section-secondary-border-light dark:border-section-secondary-border-dark
          flex flex-col w-fit p-2 rounded-[6px] space-y-4
        `}>
          <a href="">
            <LinkedIn class="group size-6 hover:scale-105" />
          </a>
          <a href="">
            <CV class="group size-6 hover:scale-105" />
          </a>
          <a href="">
            <Gmail class="group size-6 hover:scale-105" />
          </a>
        </div>
        <div class={`
          border border-section-secondary-border-light dark:border-section-secondary-border-dark
          flex flex-col p-2 rounded-[6px] space-y-4
        `}>
          <GitHubScore />
        </div>
        <div class={`
          border border-section-secondary-border-light dark:border-section-secondary-border-dark
          relative h-auto flex justify-center items-center rounded-[6px] w-1/4
        `}>
          <h3 class={`
            text-secondary-light dark:text-tertiary-dark
            absolute z-40 self-start justify-self-start w-full p-2
            `}
          >
            ✨ Magic Trick
          </h3>
            { magicTrickAvailable ? 
              (
                <a href={`/${lang}/magic`}>
                  <Houston class="size-16"/>
                </a>
              ) : (
                <a href={`/${lang}`}>
                  <Houston class="size-16"/>
                </a>
              )
            }
          <p class="absolute bottom-0 right-0 text-tertiary-light dark:text-tertiary-dark text-[10px] italic p-2">Using Astro View Transitions</p>
        </div>

      </div>
  </div>

</section>
