---
import LinkedIn from "@/assets/rrss/LinkedIn.astro"
import CV from "@/assets/rrss/CV.astro"
import Gmail from "@/assets/rrss/Gmail.astro"
import GitHubScore from '@/components/GitHubScore.astro'
import Ipad from '@/assets/apple/IPad.astro'
import LanguageAndThemeSelector from "@/components/LanguageAndThemeSelector.astro"
---

<section id="personal">

  <div class="flex item-center justify-between text-[#737373]">
    <h4 class="">Welcome</h4>
    <LanguageAndThemeSelector path="" />
  </div>

  <div class="p-6 mx-10 space-y-4">
      <p class="text-lg">
        I'm <span class="font-bold text-xl">Albert Lanza</span>, a fullstack web developer from Barcelona with +2 years of experience.
        Passionate about databases, UI/UX design and building open-source software.
      </p>
      <div class="flex h-fit gap-x-6">
        <div class="flex flex-col w-fit p-2 border rounded-[6px] border-[#262626] space-y-4">
          <a href="">
            <LinkedIn class="group size-6 hover:scale-105" />
          </a>
          <a href="">
            <CV class="group size-6 hover:scale-105" />
          </a>
          <a href="">
            <Gmail class="group size-6 hover:scale-105" />
          </a>
        </div>
        <div class="flex flex-col p-2 border rounded-[6px] border-[#262626] space-y-4">
          <GitHubScore />
        </div>
        <div class="relative h-auto flex justify-center items-center border rounded-[6px] border-[#262626] w-1/4">
          <h3 class="z-40 self-start justify-self-start w-full p-2">Being Responsive</h3>
          <div class="absolute h-[50%] max-h-full w-auto">
            <a href="/ipad">
              <Ipad svgClass="h-full" contentClass="absolute bg-slate-800 overflow-hidden" transition:name="iPad" >
                <p>hi</p>
              </Ipad>
            </a>
          </div>
          <p class="absolute bottom-0 right-0 text-[#737373] text-[10px] italic p-2">Using Astro View Transitions</p>
        </div>
      </div>
  </div>

</section>

<style>
  button:hover {
    color: white;
   }
</style>
