---
import Figma from '@/assets/icons/Figma.astro'
import GitHub from '@/assets/icons/GitHub.astro'
import { homePagePortfolioTranslations } from '@/i18n/translations'

const { text_one, text_two, text_three, text_four } =
  homePagePortfolioTranslations(Astro.url)
---

<section
  id='portfolio'
  class={`
    bg-section-bg-light dark:bg-section-bg-dark
    border-2 border-section-primary-border-light dark:border-section-primary-border-dark
    text-primary-light dark:text-primary-dark
    flex flex-col items-center justify-center w-full h-full
  `}
  transition:name='portfolio'
>
  <h3 class='font-medium'>
    {text_one}
    <span class='font-bold'>{text_two}</span>.
  </h3>
  <h3 class='font-medium'>
    {text_three}
    <span class='font-bold'>{text_four}</span>.
  </h3>

  <div class='flex items-center justify-center gap-x-6 pt-4'>
    <a href='/'>
      <Figma class='size-7' />
    </a>
    <a href='/'>
      <GitHub
        class='size-7 fill-black/80 hover:fill-black dark:fill-[#D1D5DB] dark:hover:fill-white'
      />
    </a>
  </div>
</section>
