---
import Title from "@/components/Title.astro"
import { getCollection } from "astro:content"

const projects = await getCollection('projects')
---

<section id="projects">

  <Title title="Proyectos" />

  {
    projects.map((project) => (
      <li>{project.id}</li>
    ))
  }

</section>