---
const timestamp = 1727195128
const sunrise = 1727156464
const sunset = 1727199930

const city = 'Barcelona'
const temp = '28'
const wind = '4.63'
const humidity = '41'

const mainWeather = 'Clouds'
const secondaryWeather = 'few clouds'

---

<section id="weather">

  <div class="bg-gradient-to-b w-auto h-full aspect-square from-[#020518] to-[#283555]">

    <h5>{city}</h5>

  </div>

</section>

<!-- rounded-[22px] -->