---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import Title from "@/components/Title.astro"
import WorkItem from "@/components/WorkItem.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const workTitle = t('work.title')
const works = t('works')
---

<section id="work" class="flex flex-col" transition:name="work">
  <Title title={workTitle} />
  <ol class="border-s-2 border-neutral-800 overflow-auto ml-2">
    {
      works.map(work => (
        <WorkItem {...work} />
      ))
    }
  </ol>
</section>

<style>
  ol {
    scrollbar-width: none;
  }
</style>
