---
import Title from "@/components/Title.astro"
import WorkItem from "@/components/WorkItem.astro"
import { workItems } from "@/data/works"
---

<section id="work" class="flex flex-col">
  <Title title="Let's work!" />
  <ol class="border-s-2 border-neutral-800 overflow-auto ml-2">
    {
      workItems.map(work => (
        <WorkItem {...work} />
      ))
    }
  </ol>
</section>

<style>
  ol {
    scrollbar-width: none;
  }
</style>
