---
import Title from '@/components/Title.astro'
import WorkItem from '@/components/WorkItem.astro'
import { homePageWorksTranslations } from '@/i18n/translations'

const { title, works } = homePageWorksTranslations(Astro.url)
---

<section
  id='work'
  class={`
  bg-section-bg-light dark:bg-section-bg-dark
    border-2 border-section-primary-border-light dark:border-section-primary-border-dark
    flex flex-col
  `}
  transition:name='work'
>
  <Title title={title} />
  <ol
    class='border-s-2 border-neutral-400 dark:border-neutral-800 overflow-auto ml-2'
  >
    {works.map((work) => <WorkItem {...work} />)}
  </ol>
</section>

<style>
  ol {
    scrollbar-width: none;
  }
</style>
