@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'San Francisco';
  src: url('/fonts/sf-pro-text-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ### COLORS ### */

:root {
  --body-bg-light: #f5f5f4;
  --body-bg-dark: #111111;

  --section-bg-light: #f2f2f2;
  --section-bg-dark: #171717;
  --section-border-light: #d9d9d9;
  --section-border-dark: #2c2c2c;

  --text-color-primary-light: #374151;
  --text-color-primary-dark: #d1d5db;
  --text-color-secondary-light: #4b5563;
  --text-color-secondary-dark: #737373;
  --text-color-heading-light: #111827;
  --text-color-heading-dark: #ffffff;
}

body:not(.dark) {
  background-color: var(--body-bg-light);
  color: var(--text-color-primary-light);
}

body.dark {
  background-color: var(--body-bg-dark);
  color: var(--text-color-primary-dark);
}

body:not(.dark) > section {
  background-color: var(--section-bg-light);
  border-color: var(--section-border-light);
}

body.dark > section {
  background-color: var(--section-bg-dark);
  border-color: var(--section-border-dark);
}
