* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
}

#blog-container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  gap: 1rem;
}

#header {
  grid-column: 1 / -1;
}

#aside {
  grid-column: 1 / 2;
}

#content {
  grid-column: 2 / -1;
}
