---
import '@/styles/blog_layout.css'
import Layout from './Layout.astro'
---
<Layout title='AlbertLnz Blog' description='SEO description for blog section'>
	<body>
    <div id="blog-container">
      <slot />
    </div>
	</body>
</Layout>

<style>
  body.dark {
    div > section {
      border-color: var(--section-primary-border-dark);
    }
  }
</style>