---
import '@/layouts/layout_desktop.css'
import '@/layouts/layout_mobile.css'

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
	</head>
	<body>
    <slot />
	</body>
</html>

<style is:global>
  :root {
    --text-color-dark-primary: #d1d5db;
    --text-color-dark-secondary: #737373;
  }

  body {
    background-color: #111111;
    overflow: hidden;
    display: grid;
    color: var(--text-color-dark-primary);
  }

  body > section {
    overflow: hidden;
    background-color: #171717;
    border-radius: 8px;
    border-width: 1px;
    border-color: #2c2c2c;
    padding: 2rem;
  }

</style>
