---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro
---
<!doctype html>
<html lang={currentLocale} class="dark"> 
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<ViewTransitions />
</html>

<style is:global>

	:root{
		font-family: 'MonaspaceNeon', sans-serif;
	}

	@font-face {
		font-family: 'MonaspaceNeon';
		src: url('/fonts/MonaspaceNeon.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
}
</style>
