---
import Layout from './Layout.astro'
import '@/styles/main_layout.css'
---

<Layout title="AlbertLnz portfolio" description="SEO description for my portfolio">
  <body>
    <slot />
  </body>
</Layout>
