---
import '@/styles/projects_layout.css'
import Layout from "./Layout.astro"
---

<Layout title="" description="">
  <body>
    <div id="projects-container">
      <slot />
    </body>
  </body>
</Layout>